In [1]:
import pyximport; pyximport.install()
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import set_types
import monte_carlo
from simulate import get_systems, run_trials
from tqdm import tqdm

%matplotlib inline

# Reproduce Tristan Barnett Results

The goal of this notebook is to compare simulation results against those published in:

http://strategicgames.com.au/article32.pdf

## Standard scoring systems

In [2]:
systems = get_systems()

print(systems.keys())

['wta_wimbledon', 'atp_us_open', 'fast_four_singles', 'fast_four_doubles', 'doubles', 'atp_wimbledon', 'mixed_doubles_fo', 'wta_us_open']

In [3]:
# Match up with Tristan's numbering:
system_nums = {4: 'atp_wimbledon', 5: 'wta_wimbledon',
               6: 'atp_us_open', 7: 'wta_us_open',
               8: 'mixed_doubles_fo', 9: 'doubles'}

In [4]:
def calculate_barnett_stats(sim_df):
    
    better_won = sim_df['better_won'].mean()
    pts_mean = sim_df['total_points'].mean()
    pts_std = sim_df['total_points'].std()
    pts_98 = np.percentile(sim_df['total_points'].values, 98)
    
    return {'p(A)': better_won, 'mean_pts': pts_mean,
            'std_pts': pts_std, '98th_pts': pts_98}

In [5]:
spw_1, spw_2 = 0.77, 0.73

num_trials = int(1e5)

simulation_results = dict()

for system_num, key in tqdm(system_nums.items()):
    
    system_fn = systems[key]
    
    results = run_trials(system_fn, spw_1, spw_2, num_trials=num_trials)
    
    simulation_results[system_num] = calculate_barnett_stats(results)
    
simulation_results = pd.DataFrame(simulation_results)

100%|██████████| 6/6 [14:32<00:00, 135.76s/it]

In [6]:
simulation_results

,4,5,6,7,8,9
98th_pts,575.000000,474.000000,385.000000,242.000000,186.000000,172.000000
mean_pts,290.518990,191.999630,272.196590,166.151930,142.869570,131.452980
p(A),0.721480,0.690610,0.706880,0.668380,0.658470,0.658270
std_pts,99.175766,93.053224,60.620362,40.355408,21.767761,20.564225

In [7]:
# Add Barnett results for 0.77 0.73

# (i): p(A)
# (ii): mean pts
# (iii): std pts
# (iv): n/a
# (v): 98th

if spw_1 == 0.77 and spw_2 == 0.73:

    b_77 = dict()

    b_77[4] = {'p(A)': 0.723, 'mean_pts': 290.3, 'std_pts': 99.5,
               '98th_pts': 582}

    b_77[5] = {'p(A)': 0.690, 'mean_pts': 192.1, 'std_pts': 93.1,
               '98th_pts': 480}

    b_77[6] = {'p(A)': 0.708, 'mean_pts': 272.0, 'std_pts': 60.7,
               '98th_pts': 385}

    b_77[7] = {'p(A)': 0.669, 'mean_pts': 166.3, 'std_pts': 40.3,
               '98th_pts': 243}

    b_77[8] = {'p(A)': 0.656, 'mean_pts': 142.8, 'std_pts': 21.8,
               '98th_pts': 187}

    b_77[9] = {'p(A)': 0.658, 'mean_pts': 131.5, 'std_pts': 20.5,
               '98th_pts': 174}

    b_77 = pd.DataFrame(b_77)
    
    differences = simulation_results - b_77
    
else:
    
    differences = None
    
differences

                 4         5         6         7         8         9
98th_pts -7.000000 -6.000000  0.000000 -1.000000 -1.000000 -2.000000
mean_pts  0.218990 -0.100370  0.196590 -0.148070  0.069570 -0.047020
p(A)     -0.001520  0.000610 -0.001120 -0.000620  0.002470  0.000270
std_pts  -0.324234 -0.046776 -0.079638  0.055408 -0.032239  0.064225

In [8]:
# Percentage differences

(differences / b_77) * 100

                 4         5         6         7         8         9
98th_pts -1.202749 -1.250000  0.000000 -0.411523 -0.534759 -1.149425
mean_pts  0.075436 -0.052249  0.072276 -0.089038  0.048718 -0.035757
p(A)     -0.210235  0.088406 -0.158192 -0.092676  0.376524  0.041033
std_pts  -0.325863 -0.050243 -0.131199  0.137489 -0.147883  0.313291

## Conclusions

The differences seem to be at around 1% or less, indicating fairly good agreement between the simulation and the paper.

## Comparison for other spw

In [9]:
spw_1, spw_2 = 0.62, 0.58

num_trials = int(1e5)

simulation_results = dict()

for system_num, key in tqdm(system_nums.items()):
    
    system_fn = systems[key]
    
    results = run_trials(system_fn, spw_1, spw_2, num_trials=num_trials)
    
    simulation_results[system_num] = calculate_barnett_stats(results)
    
simulation_results = pd.DataFrame(simulation_results)

100%|██████████| 6/6 [11:28<00:00, 108.24s/it]

In [10]:
# Add Barnett results for 0.62 0.58

# (i): p(A)
# (ii): mean pts
# (iii): std pts
# (iv): n/a
# (v): 98th

if spw_1 == 0.62 and spw_2 == 0.58:

    b_62 = dict()

    b_62[4] = {'p(A)': 0.743, 'mean_pts': 262.1, 'std_pts': 63.6,
               '98th_pts': 395}

    b_62[5] = {'p(A)': 0.701, 'mean_pts': 161.6, 'std_pts': 44.6,
               '98th_pts': 261}

    b_62[6] = {'p(A)': 0.741, 'mean_pts': 261.0, 'std_pts': 61.6,
               '98th_pts': 383}

    b_62[7] = {'p(A)': 0.697, 'mean_pts': 160.0, 'std_pts': 41.4,
               '98th_pts': 246}

    b_62[8] = {'p(A)': 0.670, 'mean_pts': 137.8, 'std_pts': 24.5,
               '98th_pts': 191}

    b_62[9] = {'p(A)': 0.658, 'mean_pts': 122.0, 'std_pts': 20.5,
               '98th_pts': 166}

    b_62 = pd.DataFrame(b_62)
    
    differences = simulation_results - b_62
    
else:
    
    differences = None
    
differences

                 4         5         6        7         8         9
98th_pts  0.000000  2.000000  1.000000  0.00000  1.000000  1.000000
mean_pts -0.024550 -0.011890  0.219740  0.08586 -0.124740 -0.120580
p(A)     -0.001650 -0.000410 -0.001120 -0.00215  0.004020 -0.000520
std_pts   0.100666 -0.111374  0.156138 -0.01679 -0.032221 -0.041073

In [11]:
# Percentage differences

(differences / b_62) * 100

                 4         5         6         7         8         9
98th_pts  0.000000  0.766284  0.261097  0.000000  0.523560  0.602410
mean_pts -0.009367 -0.007358  0.084192  0.053662 -0.090522 -0.098836
p(A)     -0.222073 -0.058488 -0.151147 -0.308465  0.600000 -0.079027
std_pts   0.158280 -0.249718  0.253470 -0.040556 -0.131516 -0.200357

Again, the differences look small.